.movie-card {
    position: relative;
    width: 270px;
    max-width: 270px;
    font-size: 16px;
    border-radius: 15px;
    .movie-info {
        background-color: #000000cb;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        height: 95%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        transition: .4s ease;
        opacity: 0;
        border-radius: 25px;
        &:hover, &:focus, &:active {
            opacity: 1;
        }
        .release-date{
            h3 {
                margin-bottom: 8px;
                color: $lightRed;
            }
        }
        .more-info {
            font-family: $linkFont;
            font-size: 20px;
        }
    }
    img {
        opacity: 1;
        transition: .5s ease;
        display: block;
        border-radius: 15px;
        width: 270px;
        height: 405px;
        object-fit: cover;
    }

}