// App Style Settings

// Colors
$black: #110000;
$white: #ffffff;
$darkRed: #520000;
$red: #bd0000;
$lightRed: #d05b5b;
$grey: #959595;

// Type
$bodyFont: 'IBM Plex Sans', sans-serif;
$linkFont: 'Passion One', cursive;

// Layout
$section-padding: em(16) em(20);